<aside>
    <div class="my-lines">
      <div class="my-lines__add" (click)="setAllLines(); toogleLinesToSubscribe()">
        <h3 translate>home.lines.add_lines</h3>
        <i class="material-icons">add</i>
      </div>
      <div class="modify-subscription-lines" [ngClass]="{'show-lines-to-subscribe': showLinesToSubscribe}">
        <div class="modify-subscription-lines__list">
          <div class="lines-to-subscribe" *ngFor="let line of lines" (click)="toggleCheck(line.id)">
            <input type="checkbox" value="{{line.id}}" name="{{line.id}}" [attr.checked]="isSelected(line.id) ? 'checked' : null" />
            <label for="{{line.id}}">
              <span></span> Línea {{line.lineChannelId}}
            </label>
          </div>
        </div>
        <div class="update-lines">
          <button class="btn cancel" (click)="toogleLinesToSubscribe(true)" translate>home.lines.cancel</button>
          <button class="btn save-changes" (click)="updateMyLines()" [attr.disabled]="needsToUpdate ? null: 'disabled'" translate>home.lines.done</button>
        </div>
      </div>
    </div>
  
    <div class="my-lines__list">
      <h4 class="my-lines__title" translate>home.lines.my_lines</h4>
      <ul>
        <li *ngFor="let line of currentLines" class="my-lines__lines" (click)="showInfoLines(line.lineChannelId)">
          <span class="my-lines__name">
            <span translate>home.lines.line</span> {{line.lineChannelId}}</span>
          <div *ngIf="line.n_alerts != 0" class="my-lines__alerts">{{line.n_alerts}}</div>
          <div class="material-icons" (click)="removeLine(line.id)">close</div>
        </li>
      </ul>
    </div>
  
    <div class="add-new-event">
      <a class="btn" translate *ngIf="currentUrl === 'create-event'" [routerLink]="['/home']">
        home.lines.see_lines
      </a>
      <a class="btn" translate *ngIf="currentUrl !== 'create-event'" [routerLink]="['/create-event']">
        home.lines.create_manual_event
      </a>
    </div>
  </aside>