<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<footer>
  <div class="contact">
    <span class="contact__info" translate>footer.contact_info</span>
    <div class="phone">
      <i class="material-icons">phone</i>
      <span>(+34) 91 123 45 67</span>
    </div>
    <div class="direction">
      <i class="material-icons">directions</i>
      <div class="direction__str">
        <div class="street">Calle Alameda, 15</div>
        <div class="city">28014 Madrid, Spain</div>
      </div>
    </div>
  </div>
  <div class="copyright">
      <i class="material-icons">copyright</i>
      <span class="year">2018</span>
  </div>
  <img class="logo" src="./assets/img/logo_sm.png">
</footer>