<main class="table">
  <div class="column">
    <div class="title"><span translate>dashboard.events</span></div>
    <div class="event__list">
      <div class="event__card">
        <div class="event__header">
          <div class="event__title">
            Título del evento
          </div>
          <div class="event__description">
            Descripción del evento
          </div>
        </div>
        <div class="event__metadata">
          <div class="event__number_machine">
            #<span>124543</span>
          </div>
          <div class="event__time">
            15:54
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="title"><span translate>dashboard.events</span></div>
  </div>
  <div class="column">
    <div class="title"><span translate>dashboard.events</span></div>
  </div>
</main>