.table{
    display: grid;
    width: 95%;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12);
}
.title{
    color: rgba(0, 0, 0, 0.87);
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e9e9e9;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    
}
.table .column{
    padding-bottom: 50px;    
}

.table .column:not(:first-child){
    border-left: 1px solid #ccc;
}
.event__card{
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
    padding: 12px;
    border-radius: 2px;
    margin: 10px;
}
.event__pending{
    border: 2px solid rgb(247, 77, 77);
    background: rgba(247, 77, 77, .07);
}
.event__done{
    border: 2px solid rgb(24, 131, 42);
    background: rgba(24, 131, 42, .07);
}
.event__in_progress{
    border: 2px solid rgb(255, 235, 54);
    background: rgba(255, 235, 54, .25);
}
.event__title{
    text-transform: uppercase;
    color: #222;
    font-size:13px;
    font-weight: 700;
}
.event__description{
    text-transform: uppercase;
    color: #555;
    font-size:12px;
}

.event__metadata{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 10px;
}

.event__number_machine{
    text-transform: uppercase;
    color: #333;
    font-size:12px;
    font-weight: 700;
}

.event__time{
    text-transform: uppercase;
    color: #333;
    font-size:12px;
    font-weight: 700;
}