<main class="table" id="table">
  <div class="column" *ngFor="let column of getColumns()">
    <div class="title">
      <span translate>dashboard.{{column.name}}</span>
    </div>
    <div class="event__list">
      <div *ngFor="let card of column.event_list" class="event__card event__{{card.status}}">
        <div class="event__header">
          <div class="event__title">
            {{card.title}}
          </div>
          <div class="event__type">
            {{card.type}}
          </div>
        </div>
        <div class="event__metadata">
          <div class="event__number_machine">
            #
            <span>{{card.id}}</span>
          </div>
          <div class="event__time">
            {{card.time | date:'hh:mm:ss' }}
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
