<header>
  <div class="header__logo">
    <img src="./assets/img/logo_bg.png" alt="M2P logo">
  </div>
  <div class="pc-buttons" *ngIf="getWidthStatus() === 'large'">
    <div class="user-info" *ngIf="isLogged()">
      <div class="id">
        <span>ID: </span>
        <span>{{users.id_employee}}</span>
      </div>
      <div class="role">
        <span translate>menu.role</span>
        <span>{{users.role}}</span>
      </div>
    </div>
    <button *ngIf="isLogged()" mat-raised-button color="primary" class="header__btn" (click)="logout()" translate>
      <i class="material-icons">power_settings_new</i>
      <span translate>menu.logout</span>
    </button>
    <button mat-raised-button color="primary" class="header__btn" (click)="switchLanguage()">
      <i class="material-icons">language</i>
      <span translate>lang</span>
    </button>
  </div>
  <i *ngIf="showMenuIn.includes(getWidthStatus())" (click)="toggleMenu()" class="toggle-menu material-icons">menu</i>
</header>

<div (click)="toggleMenu()" *ngIf="isOpen && showMenuIn.includes(getWidthStatus())" class="overlay-close"></div>

<section class="mobile-menu" *ngIf="showMenuIn.includes(getWidthStatus())" id="mobile-menu" [ngClass]="{'mobile-menu__open':isOpen}">
  <i class="material-icons close-menu" (click)="toggleMenu()">close</i>
  <ul class="menu-options">
    <li class="view-lines" (click)="toggleMenu()" translate>menu.see_lines</li>
    <li (click)="switchLanguage()" (click)="toggleMenu()">
        <i class="material-icons">language</i>
        <span translate>lang</span></li>
    <li>
      <a [routerLink]="['/login']" *ngIf="isLogged()" (click)="toggleMenu()" >
        <i class="material-icons">power_settings_new</i>
        <span translate>menu.logout</span>
        </a>
    </li>
  </ul>

  <div class="user-info__mobile" *ngIf="isLogged()">

    <div class="id">
      <span>ID: </span>
      <span>{{users.id_employee}}</span>
    </div>
    <div class="role">
      <span translate>menu.role</span>
      <span>{{users.role}}</span>
    </div>
  </div>
</section>
