<header>
  <div class="header__logo">
    <img src="./assets/img/logo_bg.png" alt="M2P logo">
  </div>
  <button *ngIf="getWidthStatus() === 'large' && isLogged()" mat-raised-button color="primary" class="header__btn" (click)="logout()" translate><span translate>menu.logout</span></button>
  <button *ngIf="getWidthStatus() === 'large'" mat-raised-button color="primary" class="header__btn" (click)="switchLanguage()"><span translate>lang</span></button>
  <i *ngIf="showMenuIn.includes(getWidthStatus())" (click)="toggleMenu()" class="toggle-menu material-icons">menu</i>
</header>

<div (click)="toggleMenu()" *ngIf="isOpen && showMenuIn.includes(getWidthStatus())" class="overlay-close"></div>

<section class="mobile-menu" *ngIf="showMenuIn.includes(getWidthStatus())" id="mobile-menu" [ngClass]="{'mobile-menu__open':isOpen}">
  <i class="material-icons close-menu" (click)="toggleMenu()">close</i>
  <ul class="menu-options">
    <li class="view-lines" (click)="toggleMenu()" translate>menu.see_lines</li>
    <li (click)="switchLanguage()" (click)="toggleMenu()" translate>lang</li>
    <li><a [routerLink]="['/login']" *ngIf="isLogged()" (click)="toggleMenu()" translate>menu.logout</a></li>
  </ul>
</section>
  