<div class="grid-container">
  <div class="add-new-event">
    <a class="btn">
      Crear evento manual
    </a>
  </div>
  <div class="user-info">
    <div class="user-info__container">
      <h4>Información de usuario</h4>
      <h6>
        <span class="id">ID: </span>
        <span class="id-number">{{users.id_employee}}</span>
      </h6>
      <h6>
        <span class="role" translate>home.lines.role</span>
        <span class="role-type">{{users.role}}</span>
      </h6>
    </div>
  </div>
  <main>
    <h2>
      <span class="you-selected">Has seleccionado: </span> 
      <span class="line-selected">Línea 1</span></h2>
    <nav>
      <ul class="tabs">
        <li class="active" translate>information</li>
        <li translate>warnings</li>
      </ul>
    </nav>
    <div class="information">
      <h4>Sin asignar</h4>
      <div class="table">
        <div class="headers">
          <div class="header__machine">Máquina</div>
          <div class="header__machine">Nombre</div>
        </div>
      </div>
    </div>
  </main>
</div>