/*****************************  HEADER  *****************************/
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}
.header__logo{
    width: calc(100vw - 70%);
}
.header__lang{
    text-transform: uppercase;
}

@media screen and (max-width: 992px){
    .header__logo{
        width: calc(100vw - 55%);
    }
}

@media screen and (max-width: 502px){
    .header__logo{
        width: calc(100vw - 40%);
    }
}

/*************************** END HEADER *****************************/
