main{
  width: calc(100% - 150px);
  margin-left: 50px;
  background: rgba(255, 255, 255, .85);
  border-radius: 4px;
  padding: 25px;
}

@media screen and (max-width:992px) {
  main{
    width: calc(100vw - 80px);
    margin: 0 auto;
    margin-top: 20px;
  }
}

h4 {
  padding: 5px 10px 5px 5px;
  margin-top: 10px;
  margin-bottom: 0;
}

h6 {
  padding: 0 15px;
  font-size: 13px;
}

.id,
.role {
  margin-right: 5px;
}

main h2 {
  margin: 0;
  color: #111;
}

.you-selected {
  color: #333;
  font-size: 20px;
}

.tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  max-width: 200px;
  color: #111;
}

.tabs li {
  padding: 10px 15px;
  border-radius: 4px;
}

.tabs li.active {
  background: var(--dark-red);
  color: #fff;
}

.event-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 5px;
}
