<main *ngIf="currentLine === -1">
  <h2 translate>home.lines.select_line</h2>
</main>

<main *ngIf="currentLine !== -1">
  <h2>
    <span class="you-selected" translate>home.info_line.you_selected</span>
    <span class="line-selected">
      <span translate>home.lines.line</span> {{currentLine}}</span>
  </h2>
  <nav>
    <ul class="tabs">
      <li [ngClass]="{active: currentTab == 'events'}" (click)="changeTab('events')" translate>home.info_line.events</li>
      <li [ngClass]="{active: currentTab == 'notification'}" (click)="changeTab('notification')" translate>home.info_line.notifications</li>
    </ul>
  </nav>
  <app-line-events *ngIf="currentTab == 'events'"></app-line-events>
  <app-line-notifications *ngIf="currentTab == 'notification'"></app-line-notifications>
</main>
